pip~=24.2
PyYAML~=6.0.2
Naked~=0.1.32
requests~=2.32.3
crypto~=1.4.1
pycryptodome~=3.22.0
shellescape~=3.8.1
certifi~=2025.1.31
urllib3~=2.4.0
idna~=3.10
charset-normalizer~=3.4.1
setuptools~=74.1.2
loguru~=0.7.3
google-play-scraper
