VKT_BOT_NICK: "reviewbot"
VKT_BASE_URL: "https://api.internal.myteam.mail.ru/bot/v1/"
VKT_MONITORING_CHAT: "98765@chat.agent"
VKT_REVIEWS_CHAT: "56789@chat.agent"
VKT_PACKAGE_NAME: "ru.mail.biz.avocado"
