VKT_BOT_NICK: "serious_bot"
VKT_BASE_URL: "https://myteam.mail.ru/bot/v1/"
JIRA_BASE_URL: "https://корпоративный_jira"
GITLAB_BASE_URL: "https://корпоративный_гитлаб"
ADMINS: "admin1,admin2,admin3"
VK_TECH_PRODUCTS_FILTER_ID: "999999"
VK_TEAMS: "CARD-110"
VK_WORKSPACE: "CARD-100"
