APScheduler
setuptools~=75.6.0
jira~=3.8.0
cryptography
aiosqlite~=0.20.0
pytest~=8.3.4
asynctest~=0.13.0
async-retry==0.3.1.dev4
async-timeout==4.0.3
ProstoGitlabClient
aiohttp==3.8.6
pydantic~=2.10.4
loguru>=0.6.0
python-gitlab==3.1.0
requests~=2.26.0
mailru-im-bot==0.0.21
PyYAML~=6.0.2
packaging~=24.2
